NUXT_PUBLIC_PRODUCTION="false"
NUXT_SITE_URL="https://mesonpi.example.com"
NUXT_PUBLIC_SITE_URL="https://mesonpi.example.com"
NUXT_PUBLIC_I18N_BASE_URL="https://mesonpi.example.com"
DEV_URL="izanagi.cbpf.dev.br"
DEV_KEY="/home/gabrielrosa/ssl/key.pem"
DEV_CERT="/home/gabrielrosa/ssl/cert.pem"
